body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
a {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  h1 {
    padding: 16px;
  }

  section {
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;

    div {
      padding: 40px;
      border: 1px solid gray;
    }

    div:nth-child(1) {
      /* This syntax specifies the start point, a slash and end point line number e.g (1/4) */
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }

    div:nth-child(2) {
      grid-column: 2 / span 2;
      grid-row: 1 / 2;
    }

    div:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }

    div:nth-child(4) {
      /* grid-column: 3 / span 1;
      grid-row: 2 / span 2; */

      /* shorthand syntax for the above {grid-area: row-start / column-start / row-end / column-end} */
      grid-area: 2 / 3 / 4 / 4;
    }
  }
}
