/* Reset Styles */
body, ol, ul, h1, h2, h3, h4, h5, h6, figure {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    /* border: 1px dashed gray; */
}

header {
    padding: 20px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 16px;
    max-width: 1120px;
    margin-inline: auto;
    padding: 20px;

    aside {
        ul {
            list-style-type: none;
        }
    }

    section.product-grid {
        display: grid;
        /* Using "auto-fit" with repeat, and specifying a minmum value for each of the grid childred using the minmax function, widhh minimum constraint, and number of desired columns */
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 10px;

        div.product-card {
            border: 1px solid silver;
            border-radius: 10px;

            figure {
                width: 100%;
                height: auto;
                aspect-ratio: 1/0.7;
                background-color: silver;
                border-radius: 10px 10px 0 0;

            }

            div.product-details {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 8px;

                button {
                    padding: 8px 16px;
                    border: none;
                    background-color: orangered;
                    color: white;
                    border-radius: 7px;
                }
            }
        }
    }
}