<<<<<<< HEAD
/* Reset Styles */
body, ol, ul, h1, h2, h3, h4, h5, h6,aside,article {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    border: 1px dashed yellowgreen;
    padding: 20px;
}

main {
  section.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    grid-template-areas:
      "header header header" 
      "left article right"
      "footer footer footer";

    header {
      grid-area: header;
      text-align: center;
    }

    aside ul li {
        list-style-type: none;
    }
    aside.left {
      grid-area: right;
    }

      aside.left {
      grid-area: left;
    }

    article {
      grid-area: article;
    }

    footer {
      grid-area: footer;
      border-top: 2px solid yellow;
      text-align: center;
      padding: 30px;
    }
  }
}
=======
main {
    section.container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10px;
        grid-template-areas:
            "header header header"
            "left-aside article right-aside"
            "footer footer footer";

        & > * {
            border: 1px dashed gray;
        }

        header {
            grid-area: header;
            text-align: center;
        }

        aside.left-aside {
            grid-area: left-aside;
        }

        aside.right-aside {
            grid-area: right-aside;
        }

        article {
            grid-area: article;
        }

        footer {
            grid-area: footer;
            border-top: 1px solid silver;
            text-align: center;
            padding: 20px;
        }
    }
}
>>>>>>> def92697db4d8d2dcdf6ea1294b50ac7ffa45050
