body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveline {
  0% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Stepped Animations */
@keyframes bounce1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(130px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(130px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(130px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes movelinesuccess {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(0);
  }
}

main {
  div.home {
    div {
      width: 100px;
      height: 3px;
      background: red;
      margin-top: 8px;
      transform-origin: left;
      animation: moveline ease-in-out 1.5s infinite;
    }
  }

  div.loader {
    width: 120px;
    height: 120px;
    border: 10px solid transparent;
    border-top: 10px solid royalblue;
    border-right: 10px solid royalblue;
    border-bottom: 10px solid royalblue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  /* div.ball {
    background-color: red;
    animation: bounce 1.4s ease-in 0.9s infinite;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  } */

  div.cont {
    margin-top: 30px;
    div.blue-ball {
      background-color: royalblue;
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }

  div.red-ball1 {
    background-color: red;
    animation: bounce1 1.2s ease-in-out infinite;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  div.red-ball2 {
    background-color: red;
    animation: bounce2 1s ease-in-out 0.5s infinite;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  section.wrapper {
    background-color: black;
    color: white;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: movelinesuccess ease-in-out 1.5s infinite; */
    p {
      font-size: 10px;
      margin-bottom: 30px;
    }
    div.success {
      width: 100px;
      height: 3px;
      background: green;
      margin-top: 8px;
      padding: 0px;
      transform-origin: left;
      animation: movelinesuccess ease-in-out 1.5s infinite;
    }
  }
}
