main {
  display: flex;
  min-height: 500px;

  & > div {
    flex-grow: 1;
  }

  /* div.left {
    background-image: url();
  } */

  div.box {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    background-color: yellowgreen;
  }
}

@media screen and (max-width: 600px) {
  main {
    background-color: yellow;
    div.box {
      height: 300px;
      width: 300px;
      background-color: lightblue;
    }
  }
}
