/* Reset styles  */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol {
  padding: 0;
  margin: 0;
  font-family:
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Design systems */
:root {
  --primary-color: brown;
  --primary-color-light: rgb(247, 239, 232);
  --primary-color-dark: rgb(123, 20, 20);
  --bg: linear-gradient(135deg, rgb(247, 238, 219), rgb(235, 223, 209));
  --border: 1px solid rgba(255, 231, 187, 0.589);
  --border-light: 1px solid var(--primary-color-light);
  --border-radius: 50px;
  --container-max-width: 1120px;
  --base-padding: 16px;
}

body {
  background: var(--bg);

  button {
    padding: 15px 15px;
    border-radius: 50px;
    border: var(--border);
    background: white;
    /* width: 100%; */
  }

  header {
    border-bottom: var(--border-light);
    padding: 20px;
    background-color: white;

    nav {
      display: flex;
      justify-content: center;

      div.wrapper {
        width: 100%;
        max-width: var(--container-max-width);
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

        ul {
          display: flex;
          list-style: none;

          li {
            a {
              list-style: none;
              text-decoration: none;
              color: black;
              padding: 6px 8px;
            }
          }
        }
      }
    }
  }

  main {
    section.hero {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: clamp(600px, 85vh, 900px);
      padding: var(--base-padding);

      div.wrapper {
        max-width: var(--container-max-width);
        width: 100%;
        display: flex;
        gap: 16px;
        
        & > div {
          flex-basis: 200px;
        }

        div.left-side {
          display: flex;
          flex-direction: column;
          gap: 20px;
          flex-grow: 3;

          h5.intro {
            font-size: 16px;
            text-transform: uppercase;
            color: var(--primary-color-dark);
          }

          h1 {
            font-size: clamp(20px, 4vw, 60px);
          }

          p .subtitle {
            font-size: 14px;
            color: black;
          }

          div.btn-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
          }

          button:nth-child(1) {
            background-color: var(--primary-color-dark);
            color: white;
            padding: 16px 32px;
            cursor: pointer;
          }

          button:nth-child(2) {
            color: var(--primary-color);
            border-radius: var(--border-radius);
            background-color: var(--primary-color-light);
            padding: 16px 32px;
            cursor: pointer;
          }
        }
      }
    }

    div.right-side {
      background-color: whitesmoke;
      padding: clamp(24px, 2vw, 34px);
      border-radius: 15px;
      border: var(--border);
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      flex: 1;
      gap: 20px;

      h3 {
        font-size: 24px;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
          font-size: clamp(14px, 1.4vh, 16px);
        }
      }
    }

    section.attend {
      padding: var(--base-padding);

      div.wrapper {
        max-width: var(--container-max-width);
        margin-inline: auto;

        div.card {
          background-color: white;
          padding: clamp(24px, 2vw, 34px);
          border-radius: 15px;
          border: var(--border);
          display: flex;
          flex-direction: column;
          flex-grow: 2;
          gap: 20px;

          h5 {
            font-size: 16px;
            text-transform: uppercase;
            color: var(--primary-color-dark);
          }

          h2 {
            font-size: clamp(20px, 4vw, 30px);
          }

          p {
            font-size: 14px;
            color: black;
          }
        }
      }
    }

    section.event-goals {
      padding: var(--base-padding);

      div.wrapper {
        max-width: var(--container-max-width);
        margin-inline: auto;

        div.card {
          background-color: white;
          padding: clamp(24px, 2vw, 34px);
          border-radius: 15px;
          border: var(--border);
          display: flex;
          flex-direction: column;
          flex-grow: 2;
          gap: 20px;

          h2 {
            font-size: 30px;
          }

          p {
            font-size: 14px;
            color: black;
          }

          div.panels {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 20px;
            flex-wrap: wrap;

            div.panel {
              flex-grow: 2;
              background-color: var(--primary-color-light);
              border-radius: 15px;
              border: var(--border);
              padding: 20px;
              

              h3 {
                font-size: 35px;
                font-weight: 600;
              }

              p {
                font-size: 14px;
                color: black;
              }
            }
          }
        }
      }
    }

    section.tracks {
      padding: var(--base-padding);
      margin-bottom: 90px;

      div.wrapper {
        max-width: var(--container-max-width);
        margin-inline: auto;

        h5 {
          font-size: 16px;
          text-transform: uppercase;
          color: var(--primary-color-dark);
          margin-top: 30px;
        }

        h2 {
          font-size: clamp(20px, 4vw, 30px);
        }

        div.panels {
          display: flex;
          padding: 10px;
          gap: 20px;
          flex-wrap: wrap;

          div.panel {
            flex: 2;
            background-color: var(--primary-color-light);
            border-radius: 15px;
            border: var(--border);
            padding: 20px;

            h3 {
              font-size: 14px;
              font-weight: 600;
            }

            p {
              font-size: 14px;
              color: black;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  main {
    width: 100%;

    .wrapper {
      width: 100%;
      flex-direction: column;

      .hero {
        flex-direction: column;

        .wrapper,
        .left-side,
        .intro {
          width: 100%;
        }

        .btn-container {
          flex-direction: column;
          width: 100%;
        }
      }
    }

    .panels,
    .panel {
      flex-direction: column;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {
    flex-direction: column;

    .wrapper,
    .left-side,
    .intro {
      width: 100%;
    }

    .btn-container {
      flex-direction: column;
      width: 100%;
    }
  }

  .panels,
  .panel {
    flex-direction: column;
    width: 100%;
  }
}
