body{
    padding: 0;
    margin: 0;

}

*{
    box-sizing: border-box;
}

main {
    background: linear-gradient(135deg, #6dbdf1f2, #b26fe9);
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    height: 100vh;
<<<<<<< HEAD:assignments/03-table-assignment/Elizabeth/Flexbox.css
=======
    padding: 15px;
>>>>>>> 928cd369509e917dc5f45c1fa220d11e1837c35c:assignments/04-form-and-flex/elizabeth/Flexbox.css
    font-family: Arial, Helvetica, sans-serif;
}


<<<<<<< HEAD:assignments/03-table-assignment/Elizabeth/Flexbox.css
   

=======
>>>>>>> 928cd369509e917dc5f45c1fa220d11e1837c35c:assignments/04-form-and-flex/elizabeth/Flexbox.css
.container {
       display: flex;
       width: 100%;
       max-width: 600px;
       border-radius: 10px;
       overflow: hidden;
       /* border: 1px solid black; */
       background-color: white;
       
}

.bg {
    flex: 1;
    background: url(./music\ image.jpg) no-repeat center/cover;
    position: relative;
    padding: 40px;
   
}
<<<<<<< HEAD:assignments/03-table-assignment/Elizabeth/Flexbox.css

=======
>>>>>>> 928cd369509e917dc5f45c1fa220d11e1837c35c:assignments/04-form-and-flex/elizabeth/Flexbox.css
.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(206, 110, 203, 0.459)) rgba(134, 8, 134, 0.4);
}

.overlay {
    color: white;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD:assignments/03-table-assignment/Elizabeth/Flexbox.css
    justify-content: flex-end;  
=======
    justify-content: flex-end;
>>>>>>> 928cd369509e917dc5f45c1fa220d11e1837c35c:assignments/04-form-and-flex/elizabeth/Flexbox.css
   
}

.form-container {
    flex: 1;
    padding: 40px;
    max-width: 500px;
    height: max-content;
    
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label.agree {
    display: inline !important;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.Register {
    background-color: rgb(62, 17, 168);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    /* margin-bottom: 15px; */
}

@media screen and (max-width: 600px) {
    .bg {
        display: none;
    }
}

.h1 {
    font-size: 10px;
    margin-bottom: 10px;

}

p {
    font-size:20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.price {
    font-size: 20px;

<<<<<<< HEAD:assignments/03-table-assignment/Elizabeth/Flexbox.css
    span{
=======
    span {
>>>>>>> 928cd369509e917dc5f45c1fa220d11e1837c35c:assignments/04-form-and-flex/elizabeth/Flexbox.css
        font-size: 15px;
        padding: 4px;
        font-weight: 100;
    }
}
<<<<<<< HEAD:assignments/03-table-assignment/Elizabeth/Flexbox.css



=======
>>>>>>> 928cd369509e917dc5f45c1fa220d11e1837c35c:assignments/04-form-and-flex/elizabeth/Flexbox.css
