/* Reset default browser styles */
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
/* ======= End of reset styles ========  */



main {
    background-color: rgb(52, 73, 112);
    min-height: 100vh;
    display: grid;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    
    section.form-container {
        width: 100%;
        max-width: 500px;
        height: max-content;
        background-color: white;
        border-radius: 5px;
        padding: 36px;
        margin-inline: auto;
        margin-block: auto;

        form {
            div.headings {
                text-align: center;

                h1 {
                    font-weight: 500;
                    font-size: 36px;
                    margin: 0;
                    margin-bottom: 6px;
                }
                p {
                    font-size: 14px;
                    font-weight: 200;
                    color: rgba(0, 0, 0, 0.62);
                    margin: 0;
                }
            }

            div.inputs {
                margin: 20px 0;

                label {
                    display: block;
                    margin-bottom: 16px;

                    & * {
                        display: block;
                    }

                    span {
                        font-size: 14px;
                        color: rgb(119, 118, 118);
                    }

                    input, select, textarea {
                        width: 100%;
                        border: 1px solid silver;
                        padding: 6px 10px;
                        border-radius: 4px;
                        font-size: 14px;
                    }

                    input[type="file"] {
                        display: none;
                    }

                    select {
                        /* Appearance is used to remove default browser styling. Default appearance is dominant in MacOs browsers */
                        appearance: none;
                    }

                    /* select {
                        width: 100%;
                        padding: 6px 10px;
                        border-radius: 4px;
                        font-size: 14px;
                        border: 1px solid silver;
                        appearance: none;
                    } */
                }
                label.agree {
                    /* display: inline; */

                    * {
                        display: inline !important;
                    }

                    input[type="checkbox"] {
                        width: auto;
                    }
                }
            }

            div.form-footer {
                button {
                    padding: 7px 10px;
                    width: 100%;
                    color: white;
                    background-color:rgb(99, 205, 170);
                    border-radius: 5px;
                    border: 1.5px solid black;
                    font-size: 14px;
                }

                p {
                    font-size: 12px;
                    color: gray;
                    font-weight: 200;
                    text-align: center;

                    a {
                        color: blue;
                        text-decoration-line: none;
                    }

                    a:visited {
                        color: teal;
                    }
                }
            }
        }
    }
}