
/* Reset Styles */
* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;

    header {
        height: 100px;
        width: 100%;
        background-color: orangered;
    }

    main {
        background-color: yellow;
        width: 100%;
        height: calc(100vh - (100px + 100px));
    }

    footer {
        height: 100px;
        width: 100%;
        background-color: orange;
    }
}