*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#db8a20;
    padding:30px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:20px;
    justify-content:center;
    margin-bottom:30px;
}

button{
    padding:12px 20px;
    cursor:pointer;
    background-color: rgb(140, 127, 255);
    color: white;
}

.results{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.data-box{
    margin-bottom:20px;
    padding:10px;
    border:1px solid #ddd;
}