<<<<<<< HEAD
/* Reset Styles */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
aside,
article {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  /* padding: 20px; */
}

main {
  section {
    padding: 30px;
    border: 1px dashed yellowgreen;
  }
  div[class*="box"] {
    height: 100px;
    width: 100px;
    border: 1px solid yellow;
  }

  hr {
    margin-block: 40px;
  }

  section.transform-x {
    div.box-1 {
      background-color: aqua;
      transform: translateX(50px);
    }

    div.box-2 {
      background-color: greenyellow;
      transform: translateX(100%);
    }
  }

  section.transform-y {
    div.box-1 {
      background-color: yellow;
      transform: translateY(50px);
    }

    div.box-2 {
      background-color: blue;
      transform: translateY(-90%);
    }
  }

  section.transform-xy {
    div.box-1 {
      background-color: yellow;
      transform: translate(30px, 90px);
    }

    div.box-2 {
      background-color: brown;
      transform: translate(30%, 30%);
    }
  }

  section.scaling {
    div.box-1 {
      background-color: lime;
      transform: scale(0.8);
    }
    div.box-2 {
      background-color: chocolate;
      transform: scaleX(1.9);
    }
    div.box-3 {
      background-color: pink;
      transform: scaleY(-1.6);
    }
  }

  section.rotation {
    /* usuing degrees */
    div.box-1 {
      background-color: lime;
      transform: rotate(85deg);
    }

    /* using turn */
    div.box-2 {
      background-color: pink;
      transform: rotate(1.6turn);
    }

    /* using radians */
    div.box-3 {
      background-color: red;
      transform: rotate(10rad);
    }

    /* using rotate XYZ */
    div.box-4 {
      background-color: magenta;
      transform: rotateY(40deg) rotateY(30deg) rotateX(140deg);
    }

    /* div.box-5 {
      background-color: magenta;
      transform: rotate3d(45deg, 45deg, 70deg);
    } */
  }

  section.skew {
    div.box-1 {
      background-color: orangered;
      transform: skew(35deg);
    }

    div.box-2 {
      background-color: green;
      transform: skewX(60deg);
    }

    div.box-3 {
      background-color: blue;
      transform: skewY(30deg);
    }
  }

  section.transform-order {
    div.box-1 {
      background-color: yellow;
      transform: translateX(120px) rotate(20deg);
    }
    div.box-2 {
      background-color: green;
      transform: rotate(40deg) translateX(100px);
    }
    div.box-3 {
      background-color: pink;
      transform: rotate(60deg) translateX(200px);
    }
  }

  section.transform-origin {
    div.box-1 {
      background-color: pink;
      transform: rotate(45deg);
      transform-origin: center;
    }
    div.box-2 {
      background-color: yellow;
      transform: rotate(45deg);
      transform-origin: top right;
    }

    div.box-3 {
      background-color: rgb(94, 20, 212);
      transform: rotate(45deg);
      transform-origin: Bottom left;
    }

    div.box-4 {
      background-color: rgb(20, 158, 212);
      transform: skew(30deg, 50deg);
      transform-origin: Bottom right;
    }
  }
}
=======
main {
    div.examples {
        border: 1px dashed gray;
    }

    div[class*="box"] {
        height: 120px;
        width: 120px;
        border: 1px solid silver;
    }

    hr {
        margin-block: 40px;
    }

    section.translation-x {
        div.box-one {
            background-color: lightcoral;
            transform: translateX(50px);
        }

        div.box-two {
            background-color: lightseagreen;
            transform: translateX(100%)
        }
    }

    section.translation-y {
        div.box-one {
            background-color: lightcoral;
            transform: translateY(50px);
        }

        div.box-two {
            background-color: lightseagreen;
            transform: translateY(-80%)
        }
    }

    section.translation-xy {
        div.box-one {
            background-color: cyan;
            transform: translate(40px, 40px);
        }

        div.box-two {
            background-color: lightseagreen;
            transform: translate(40%, 40%);
        }
    }

    section.scaling {
        div.box-one {
            background-color: lightsalmon;
            /* Element can be transformed to scale using decimal numbers showing to that percentage of its original dimension it it to be magnified or shrinked. This is also strictly a visual resizing and does not change the actual element's dimensions */
            transform: scale(1.5);
        }
        div.box-two {
            background-color: khaki;
            transform: scaleX(2.5);
        }
        div.box-three {
            background-color: magenta;
            transform: scaleY(1.3);
        }
    }

    section.rotation {
        /* Using Degrees */
        div.box-one {
            background-color: orangered;
            transform: rotate(45deg);
        }

        /* Using Turns */
        div.box-two {
            background-color: lightseagreen;
            /* 1 turn = 360deg */
            transform: rotate(1.03turn);
        }

        /* Using Radians */
        div.box-three {
            background-color: magenta;
            /* 1 radian = 57.2958deg */
            transform: rotateZ(2rad);
        }

        div.box-four {
            background-color: deepskyblue;
            transform: rotateX(30deg) rotateY(30deg) rotateZ(30deg);
        }

        div.box-five {
            background-color: lightsteelblue;
            /* Investigate later */
            /* transform: rotate3d(30deg, 30deg, 30deg); */
        }
    }

    section.skew {
        div.box-one {
            background-color: orangered;
            transform: skew(30deg, 30deg);
        }

        div.box-two {
            background-color: green;
            transform: skewX(30deg);
        }

        div.box-three {
            background-color: blue;
            transform: skewY(30deg);
        }
    }


    /* When working with transformation of different types, order matters a lot in the visual representation to be acheived */
    section.transform-order {
        div.box-one {
            background-color: orange;
            transform: translateX(120px) rotate(45deg);
        }

        div.box-two {
            background-color: yellowgreen;
            transform: rotate(45deg) translateX(120px);
        }
    }

    section.transform-origin {
        div.box-one {
            background-color: lightcoral;
            transform: rotate(45deg);
            transform-origin: center;
        }

        div.box-two {
            background-color: yellow;
            /* By default, the transform-origin is the center of the element. This property allows you to change that point to any other point on the element or even outside of it. */
            transform-origin: top right;
            transform: rotate(45deg);
        }

        div.box-three {
            background-color: green;
            transform-origin: bottom left;
            transform: rotate(45deg);
        }

        div.box-four {
            background-color: cyan;
            transform-origin: bottom right;
            transform: skew(30deg, 30deg);
        }
    }

}
>>>>>>> def92697db4d8d2dcdf6ea1294b50ac7ffa45050
