body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {

    div {
        background-color: #ffa08c;
        border: 1px solid black;
        /* padding: 20px 10px; */
    }

    /* Grid Templates Area */
  #page {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-areas:
      "head head"
      "nav  main"
      ".  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
  }

  #page > header {
    grid-area: head;
    background-color: white;
  }

  #page > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }

  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }

  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
  }

  /* Grid Templates */
  #page2 {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template:
    [header-left] "head head" 50px [header-right]
    [main-left] "nav  main" 2fr [main-right]
    [footer-left] "nav  foot" 50px [footer-right]
    / 120px 1fr;
}

header {
  background-color: lime;
  grid-area: head;
}

nav {
  background-color: lightblue;
  grid-area: nav;
}

main {
  background-color: yellow;
  grid-area: main;
}

footer {
  background-color: red;
  grid-area: foot;
}


section {
    padding: 30px;
    background-color: #8ca0ff;

    /* Grid container */
    div.page3 {
        display: grid;
        div {
            padding: 20px 10px;
        }
    }

        /* unequal sizes */
    div.page5 {
        display: grid; 
        grid-template-columns: 2fr 1fr 2fr;

        div {
            padding: 20px 10px;
        }
    }

            /* >Mixed flexible and absolute sizes */
    div.page6 {
        display: grid; 
        grid-template-columns: 500px 1fr 2fr;

        div {
            padding: 20px 10px;
        }
    }

             /* >Mixed flexible and absolute sizes */
    div.page7 {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;

        div {
            padding: 20px 10px;
        }
    }

}
}
