*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#c2d32d;
    min-height:100vh;
    display:grid;
    place-items:center;
}

.container{
    background:white;
    padding:20px;
    border-radius:10px;
    width:500px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

h1{
    margin-bottom:20px;
}

.cart-items{
    list-style:none;
    margin-bottom:20px;
}

.cart-items li{
    padding:10px;
    border-bottom:1px solid #ddd;
}

button{
    padding:10px 15px;
    cursor:pointer;
    background-color: chartreuse;
}

.total{
    margin-top:20px;
}

.align-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"], input[type="number"] {
    padding: 6px 14px;
    font-size: 16px;
}
