
/* Animation Keyframes */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: cyan;
    }
}

/* Stepped Animations */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes masquerade {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

main {

    section.intro {
        div.box-one {
            background-color: teal;
            /* Animation syntax */
            /* animation: [name-of-keyframe] [duration] [timing-function] [delay] [interation-count] [animation-direction] [animation-fill-mode] [animation-play-state] */
            animation: fade-in 3s ease-in 1s;
        }

        div.box-two {
            background-color: orange;
            animation: fade-in 3s ease-out 0s infinite alternate-reverse;
        }
    }

    section.stepped-animations {
        div.box-one {
            background-color: lightseagreen;
            animation: float 1.5s ease-in-out 0s infinite;
        }
    }

    section.animations-and-pseudo-classes {
        button.button-one {
            background-color: orange;
            border-radius: 7px;
            color: white;
            font-size: 14px;
            padding: 8px 16px;
            border: none;
        }

        button.button-one:hover {
            animation: masquerade 1.7s ease-in-out 0s infinite;
        }
    }
}


    div.examples {
        border: 1px dashed gray;
    }

    div[class*="box"] {
        height: 120px;
        width: 120px;
        border: 1px solid silver;
    }

    hr {
        margin-block: 40px;
    }