/* Reset styles  */
body,
h1, h2, h3, h4, h5, h6, ul, li, ol {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@keyframes bounce{
    from{
        transform: translateY(300px);
        background-color: orangered;
    }
    to{
        transform: translateY(100px);

    }
}

div.container{
    background-color: rgb(194, 48, 48);
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 60px;
    height: 60px;
    margin: auto;
    animation:bounce 0.7s alternate-reverse infinite ;
}
